/* ==UserStyle==
@name           4chan-tweaks
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
@license        unlicense
@preprocessor   stylus

==/UserStyle== */
@-moz-document domain("4chan.org"),
domain("4channel.org") {
  #fcsp-container:not(hover) {
    opacity: 0.4;
    left: calc(100% - 30px) !important;
    overflow: hidden;
  }

  .fixed #header-bar,
  #custom-board-list,
  body {
    font-size: 12pt;
    font-family: Cantarell;
  }

  #fcsp-container[data-view-style="playlist"] .fc-sounds-image-link {
    height: 200px !important;
  }

  #fcsp-container {
    width: 400px !important;
  }

  #fcsp-container:hover {
    left: calc(100% - 400px) !important;
    min-width: 400px;
    opacity: 1;
  }

  #thread-watcher:not(hover) {
    min-width: 30px;
    max-width: 0px;
    opacity: 0.4;
    overflow: hidden;
  }

  #thread-watcher:hover {
    opacity: 1;
    min-width: 260px;
  }

  .gal-prev,
  .gal-next {
    min-width: 30px;
  }

  .qr-link-container-bottom {
    position: inherit;
    margin: auto;
  }

  div.post blockquote.postMessage,
  div.post div.file .fileThumb {
    margin: 8px;
  }

  :root.sw-yotsuba .reply > .file > .fileText {
    margin: 0 2px;
  }

  div.post input[type="checkbox"] {
    display: none;
  }
}
