/* ==UserStyle==
@name           habitica-compact
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
@license        unlicense

//@var          checkbox clickThroughTooltips    "clickThroughTooltips"  1

==/UserStyle== */
@-moz-document domain("habitica.com") {
  /* compact columns */
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col,
  .col-auto,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm,
  .col-sm-auto,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md,
  .col-md-auto,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg,
  .col-lg-auto,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl,
  .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 2px;
    padding-left: 2px;
  }

  /* the previous makes task edges move outside, move them back */
  .user-tasks-page {
    padding-top: 4px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .tasks-list {
    border-radius: 1px !important;
    background: #edecee;
    padding: 1px !important;
    position: relative;
    height: calc(100% - 56px);
    padding-bottom: 30px;
  }

  .task-disabled-habit-control-bg {
    display: none !important;
  }

  .task-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    line-height: 1;
  }

  .task-clickable-area {
    padding: 0px 0px 0px 4px !important;
    padding-bottom: 0px !important;
    border: none !important;
  }

  .task-title {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    margin-right: 4px !important;
    line-height: 1 !important;
    font-size: 14px !important;
  }

  .icons {
    margin-top: 1px !important;
    color: #a5a1ac;
    font-style: normal;
    padding: 0 4px !important;
  }

  .left-control,
  .right-control {
    min-height: 38px !important;
    width: 32px !important;
  }

  .habit-control {
    border-radius: 100px;
    color: #fff;
  }

  .task-control {
    width: 24px;
    height: 24px;
  }

  .habit-control .svg-icon {
    width: 10px;
    height: 10px;
  }

  .habit-control .positive {
    margin-top: 6px;
  }

  .habit-control .negative {
    /* margin-top: 13px; */
  }

  .habit-control-positive-disabled,
  .habit-control-positive-enabled {
    padding-top: 0px;
  }

  .pt-3,
  .py-3 {
    padding-top: 8px !important;
  }

  .daily-todo-control {
    margin-top: 6px !important;
    border-radius: 2px;
    margin-left: 0px !important;
  }

  .quick-add {
    border-radius: 2px;
    background-color: rgba(26, 24, 29, 0.06);
    margin-bottom: 2px !important;
    padding: 2px 5px !important;
  }

  .markdown p {
    margin-bottom: 4px;
  }

  /* resting banner */
  .resting-banner {
    min-height: 20px !important;
    /* 	height: 20px !important; */
    background-color: #2995cd;
  }

  .resting-banner .content {
    line-height: 1.11 !important;
    padding: 4px 38px 4px 8px !important;
    /*         margin: 1px 1px 1px 1px !important; */
  }

  .resting-banner .closepadding {
    margin: 2px 24px !important;
    right: 0;
    top: 0;
  }

  /* navbar and toolbar */
  .navbar {
    padding: 0rem 1rem !important;
  }

  .topbar {
    min-height: 20px !important;
    -webkit-box-shadow: 0 1px 2px 0 rgba(26, 24, 29, 0.24);
    box-shadow: 0 1px 2px 0 rgba(26, 24, 29, 0.24);
  }

  .topbar-item > a {
    padding: 0.1em 1em !important;
  }

  .topbar .topbar-item {
    padding-top: 0px !important;
    height: 42px !important;
  }

  /* header and tags */
  #app-header {
    padding-top: 5px !important;
    padding-bottom: 4px !important;
  }

  .tasks-navigation {
    margin-bottom: 2px !important;
  }

  .gryphon {
    /* 	position: absolute; */
    left: calc(50% - 30px);
    top: 4px !important;
  }

  .input-search,
  .search-button {
    height: 28px !important;
  }

  .create-btn {
    display: none !important;
    margin-top: -32px !important;
  }

  body {
    /* 	font-family: 'Roboto', sans-serif; */
    /* 	color: #4E4A57; */
    /* 	text-rendering: optimizeLegibility; */
    /* 	font-size: 14px; */
    line-height: 1.2;
  }

  /* welcome screen */
  .modal-body {
    padding: 0.2rem;
  }

  .header-welcome {
    margin-top: 0 !important;
  }

  h1 {
    margin-bottom: 4px;
  }

  h3.markdown {
    margin-top: 2px;
  }

  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  /* description lists */
  ol,
  ul,
  dl {
    margin-top: 0;
    margin-bottom: 4px;
  }

  .reward-control {
    padding-top: 4px !important;
    padding-bottom: 2px !important;
  }

  /* dropbdown menu */
  .dropdown-item {
    padding-left: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    line-height: 1.2;
    color: #4e4a57;
    cursor: pointer;
  }

  .dropdown-menu {
    min-width: 5rem;
    padding: 0.1rem 0;
  }

  /* task edit menu */
  .modal-dialog {
    margin: 3.5rem auto 1rem;
    width: auto;
  }

  #task-modal .task-modal-header {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  #task-modal .task-modal-content,
  #task-modal .task-modal-header {
    padding-left: 8px;
    padding-right: 8px;
  }

  .form-group {
    margin-bottom: 0.4rem;
  }

  label {
    margin-bottom: 0.2rem;
  }

  #task-modal .task-modal-content {
    padding-top: 4px;
  }

  #task-modal .advanced-settings {
    background: #f9f9f9;
    margin-left: 0px;
    margin-right: 0px;
    padding: 12px 24px;
    margin-bottom: -8px;
  }

  #task-modal .task-modal-footer {
    padding: 8px 12px;
  }

  #task-modal .tags-select {
    padding: 0px 8px;
  }

  #task-modal .option-item-box {
    width: 48px;
    height: 48px;
    margin-bottom: 4px;
  }

  #task-modal .modal-dialog.modal-sm {
    max-width: 500px;
  }

  /* checklists in edit screen */
  #task-modal .checklist-group {
    height: 24px !important;
  }

  #task-modal .checklist-item {
    height: 20px !important;
    margin-top: 3px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
  }

  #task-modal span.grippy {
    padding: 0px 4px;
    margin-top: 1px;
  }
}
