/* ==UserStyle==
@name           youtube.com - 4/3/2021, 1:08:29 AM
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("youtube.com") {
  ytd-watch-flexy[flexy][js-panel-height_]:not([is-two-columns_])
    #chat.ytd-watch-flexy:not([collapsed]).ytd-watch-flexy,
  ytd-watch-flexy[flexy] #columns.ytd-watch-flexy {
    max-width: unset;
  }

  .html5-video-player .video-click-tracking,
  .html5-video-player .video-stream,
  .html5-video-container {
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
  }

  ytd-watch-flexy[flexy] {
    --ytd-watch-flexy-space-below-player: 4px !important;
  }
}
