/* ==UserStyle==
@name           youtube.com - 3/27/2021, 9:31:41 PM
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */
@-moz-document domain("youtube.com") {
  ytd-guide-section-renderer {
    --paper-item-min-height: 30px;
  }
}
