/* ==UserStyle==
@name           youtube - compact chat
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */
@-moz-document domain("youtube.com") {
  /* badge before name */
  #items yt-live-chat-author-chip #author-name {
    order: 2;
  }

  #items yt-live-chat-author-chip #chat-badges {
    order: 1;
    margin-right: 4px;
    margin-left: 0px;
  }

  /* compact messages */
  yt-live-chat-text-message-renderer {
    padding: 2px 8px;
  }

  yt-live-chat-author-chip.yt-live-chat-text-message-renderer {
    margin-right: 4px;
  }

  #author-photo.yt-live-chat-text-message-renderer {
    margin-right: 4px;
  }

  #author-photo.yt-live-chat-text-message-renderer,
  .yt-live-chat-text-message-renderer > img.yt-img-shadow {
    width: 24px;
    height: auto;
  }

  /* supas */
  #items.yt-live-chat-ticker-renderer {
    padding: 0 4px 0px 8px;
  }

  yt-live-chat-paid-message-renderer {
    padding: 0px 0px;
  }

  #content.yt-live-chat-paid-message-renderer,
  #header.yt-live-chat-paid-message-renderer {
    padding: 2px 4px;
    min-height: 10px;
  }

  #container.yt-live-chat-ticker-paid-sticker-item-renderer,
  #container.yt-live-chat-ticker-sponsor-item-renderer,
  #container.yt-live-chat-ticker-paid-message-item-renderer {
    padding: 2px;
  }

  #items.yt-live-chat-ticker-renderer > .yt-live-chat-ticker-renderer {
    margin-right: 2px;
  }

  /* header */
  yt-live-chat-header-renderer {
    font-size: 16px;
    height: unset;
    padding: 1px;
  }

  #overflow.yt-live-chat-header-renderer {
    width: 22px;
    height: 26px;
    padding: 0px;
  }

  /* input */
  #container.yt-live-chat-message-input-renderer {
    display: grid;
    grid-template-columns: 9fr 1fr;
  }

  #input-container > yt-live-chat-author-chip,
  #avatar.yt-live-chat-message-input-renderer {
    display: none;
  }

  #input-container.yt-live-chat-message-input-renderer {
    display: flex;
  }

  #top.yt-live-chat-message-input-renderer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  #buttons.yt-live-chat-message-input-renderer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  #pickers.yt-live-chat-message-input-renderer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  #top.yt-live-chat-message-input-renderer,
  #pickers.yt-live-chat-message-input-renderer,
  #error-message.yt-live-chat-message-input-renderer {
    margin: 0px;
  }

  #input.yt-live-chat-message-input-renderer {
    flex: 1;
  }

  yt-live-chat-message-input-renderer {
    padding: 1px;
  }

  #buttons.yt-live-chat-message-input-renderer {
    margin: 0px 0 0px;
  }

  /* emoji picker     */
  yt-emoji-picker-renderer.yt-live-chat-message-input-renderer {
    min-height: 130px;
    max-height: 220px;
    margin: 0;
  }

  #categories.yt-emoji-picker-renderer
    > .yt-emoji-picker-renderer:not(:first-child),
  #category-buttons.yt-emoji-picker-renderer,
  #categories-wrapper.yt-emoji-picker-renderer {
    margin-top: 0px;
  }

  #search-panel.yt-emoji-picker-renderer {
    padding: 0px 2px;
    border-radius: 4px;
  }

  #search-panel.yt-emoji-picker-renderer,
  #search-empty.yt-emoji-picker-renderer,
  #category-buttons.yt-emoji-picker-renderer {
    margin: 0;
  }

  yt-emoji-picker-upsell-category-renderer,
  yt-emoji-picker-category-renderer {
    margin-left: 0;
  }

  yt-emoji-picker-renderer {
    display: grid;
  }

  #search-panel {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  #category-buttons {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  #search-category,
  #categories-wrapper {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}
