/* ==UserStyle==
@name           youtube - fill view
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */
@-moz-document domain("youtube.com") {
  html:not(.style-scope) {
    --ytd-margin-2x: 8px;
    --ytd-margin-3x: 12px;
    --ytd-margin-4x: 16px;
    --ytd-margin-5x: 20px;
    --ytd-margin-6x: 4px;
    --ytd-margin-7x: 28px;
    --ytd-margin-8x: 32px;
    --ytd-margin-9x: 36px;
    --ytd-margin-10x: 40px;
    --ytd-margin-11x: 44px;
    --ytd-margin-12x: 48px;
    --ytd-margin-14x: 56px;
    --ytd-margin-16x: 64px;
    --ytd-margin-17x: 68px;
    --ytd-margin-24x: 96px;
    --ytd-margin-25x: 100px;
    --ytd-margin-35x: 140px;
    --yt-circular_-_border-radius: 5%;
  }

  ytd-live-chat-frame > *,
  #player.ytd-watch-flexy {
    z-index: 2020;
  }

  /*     #chips-wrapper.ytd-feed-filter-chip-bar-renderer {
        position: unset;
    }

    #masthead-container.ytd-app {
        position: unset;
        top: unset;
        width: 100%;
        z-index: 2020;
        transform: translateY(0);
        transition: transform 0.3s ease;
    }

    #container.ytd-masthead {
        height: unset;
        padding: unset;
    } */
  .ytp-chrome-bottom {
    margin: 0 auto !important;
  }
}
