.linux {
    /* --monaco-monospace-font: "Go Mono" "Iosevka", "Fantasque Sans Mono",
        "Fira Sans Compressed", "Droid Sans Mono", "Inconsolata", "Courier New",
        monospace, "Droid Sans Fallback"; */
    font-family: "Cantarell", "Go", "Libre Baskerville", "Noto Serif",
        "Fira Sans Condensed", "Fira Sans Compressed", Cantarell, Ubuntu,
        Droid Sans, sans-serif;
}

.scm-viewlet .monaco-list-row .resource-group > .name,
.monaco-workbench .part.statusbar > .items-container > .statusbar-item > a {
    font-size: 16px !important;
}

.monaco-list-row,
.tabs-container a,
.monaco-workbench .part > .title > .title-label h2,
.monaco-pane-view .pane > .pane-header h3.title {
    font-size: 16px !important;
}
